.grid-container {

  height: fit-content;
  min-height: 80vh;

 margin-top: -20px;
  background:  linear-gradient(180deg, #F6FCFF 0%, #D0E5FD);

  
  
}
.title{
  place-self: center;

  text-align: center;
  
  font-size: 2rem;
  line-height: 1.5rem;
  padding-top: 40px;
  margin-bottom: 1%;
  color: #014357;
  font-weight: 900;
}
.dashboard-card {
  position: relative;
  min-width:400px;
  width: fit-content;
  border-radius: 25px;
  min-height: min-content;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  min-height: min-content;
}
.move-to-top{
  margin-top: -35px;
  display: flex;
  justify-content: center;
}
