<div class="grid-container">
 
  <div class=" title">Dashboard</div>
  <div class="search-filter center">
    <select class="rounded-input" [(ngModel)]="selectedState">
      <option value="" disabled selected>Select a State</option>
      <option *ngFor="let state of stateNames" [value]="state">{{ state }}</option>
    </select>
    <button class="rounded-button" (click)="search()">Search</button>
  </div>

  <app-aqi-season-chart [selectedState]="selectedStateS" ></app-aqi-season-chart>

  
  <mat-grid-list cols="3" rowHeight="350px">

    @for (card of cards | async; track card) {
      
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card  class="dashboard-card ">
          
          <mat-card-content class="dashboard-card-content" *ngIf="(avgaqi$ | async) as avg  ; else loadingSpinner">
            <div>
              <ng-container [ngSwitch]="card.title">
                <ng-template [ngSwitchCase]="'Avg'" *ngIf="(avgaqi$ | async) as avg  ; else loadingSpinner2 ">
                
                    <app-card [color]="'cornflowerblue'" [icon]="'air'" [title]="'Average value'" [value]="avg"></app-card>
                 
                  
                 
                </ng-template>
                <ng-template #loadingSpinner2>

                  <mat-spinner class="loading2" diameter="50" color="primary"></mat-spinner>
                </ng-template>
                <ng-template [ngSwitchCase]="'Records Count'" *ngIf="(data$ | async) as data">
                  <app-card [color]="'dimgrey'" [icon]="'notes'" [title]="'Number of Records'" [value]="data.length"></app-card>
                </ng-template>
                <ng-template [ngSwitchCase]="'Obs Count'" *ngIf="(obssum$ | async) as sum">
                  <app-card [color]="'lightseagreen'" [icon]="'search'" [title]="'Number of Observations'" [value]="sum"></app-card>
                </ng-template>
             
                <div class ="map-layout" >
                <ng-template  [ngSwitchCase]="'Map'">
                  <div class="button" >
                  <mat-radio-group aria-label="Select an option" [ngModel]="showCounties" *ngIf="(obssum$ | async) as sum">
                    <mat-radio-button *ngIf="!selectedOption$" [value]="false" (click)="toggleCounties(false)">Distribution By State</mat-radio-button>
                    <mat-radio-button class="layout" [value]="true" (click)="toggleCounties(true)">Distribution By County</mat-radio-button>
                </mat-radio-group>
              </div>
                    <div class="move-to-top">
                    <app-map [selectedState]="selectedState"  [showCounties]="showCounties"></app-map>
                  </div>
                </ng-template></div>
             
                <ng-template ngSwitchDefault>
                 
                </ng-template>
                
              </ng-container>
            </div>
          </mat-card-content>
          <ng-template #loadingSpinner>
            <!-- Your loading spinner component goes here -->
            <!-- For example, you can use Angular Material's spinner -->
            <mat-spinner class="loading" diameter="50" color="primary"></mat-spinner>
          </ng-template>
        </mat-card>
      </mat-grid-tile>
    }
  
 
  </mat-grid-list>
 
   
  

  

 
</div>

<ng-template #loading>
  
  <mat-spinner></mat-spinner>
  
</ng-template>