<mat-accordion class="rounded" style="display: flex; flex-direction: column; align-items: center;">
  <mat-form-field>
    <mat-label>Select Element</mat-label>
    <mat-select [(value)]="selectedElement" (selectionChange)="updateSelectedElements('element')">
      <mat-option *ngFor="let element of elements" [value]="element">{{ element }}</mat-option>
    </mat-select>
  </mat-form-field>

  <app-date-select></app-date-select>

  <mat-radio-group [(ngModel)]="selectedDistribution" (change)="updateSelectedElements('distribution')">
    <mat-radio-button value="state">Distribution by State</mat-radio-button>
    <mat-radio-button value="county">Distribution by County</mat-radio-button>
  </mat-radio-group>
</mat-accordion>
